body {
    font-family: 'Merriweather', serif;
    background: #F4F2E9;
    margin: 0 auto;
    width: 52em;
}

.cell{
    border: 1px solid;
    margin: 1px 0;
}
.container {
    padding: 2px;
}
.cell div {
    white-space: nowrap;
    display: inline;
}
.container img {
    height: 60px;
}
span {
    vertical-align: top;
}

@media all and (max-width: 768px) {
    body {
        margin: 0 auto;
        width: 100%;
    }
}